@function pastel ($clr) {
  $hue: hue($clr);
  $sat: 100;
  $light: 90;
  $pastel: hsl($hue, $sat, $light);

  @return $pastel;
}

@function adjust-alpha ($clr, $a) {
  $alpha: 1 - $a;

  @return adjust-color($clr, $alpha: -$alpha);
}

@mixin frame-mixin ($skills) {
  @for $i from 1 through length($skills) {
    $data: nth($skills, $i);
    $name: map-get($data, name);

    @-webkit-keyframes progress-#{$name} {
      0% {
        width: 0;
      }

      100% {
        width: map-get($data, width);
      }
    }

    @keyframes progress-#{$name} {
      0% {
        width: 0;
      }

      100% {
        width: map-get($data, width);
      }
    }
  }
}

@mixin skill-color-mixin ($skills) {
  @for $i from 1 through length($skills) {
    $data: nth($skills, $i);
    $name: map-get($data, name);
    &--#{$name} {
      background-color: lighten(adjust-color(map-get($data, color), $saturation: 20%, $lightness: 10%), 10%);
    }
  }
}

@mixin animation-mixin ($skills, $time) {
  @for $i from 1 through length($skills) {
    $data: nth($skills, $i);
    $name: map-get($data, name);
    &--#{$name} {
      -webkit-animation-duration: $time;
      animation-duration: $time;
      -webkit-animation-name: progress-#{$name};
      animation-name: progress-#{$name};
      background-color: map-get($data, color);
      width: map-get($data, width);
    }
  }
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIl9taXhpbnMuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNFLGdCQUFnQjtFQUNoQixVQUFVO0VBQ1YsV0FBVztFQUNYLGlDQUFpQzs7RUFFakMsZ0JBQWdCO0NBQ2pCOztBQUVEO0VBQ0UsZUFBZTs7RUFFZiw0Q0FBNEM7Q0FDN0M7O0FBRUQ7RUFDRTtJQUNFLHdCQUF3QjtJQUN4Qiw0QkFBNEI7O0lBRTVCO01BQ0U7UUFDRSxTQUFTO09BQ1Y7O01BRUQ7UUFDRSw2QkFBNkI7T0FDOUI7S0FDRjs7SUFFRDtNQUNFO1FBQ0UsU0FBUztPQUNWOztNQUVEO1FBQ0UsNkJBQTZCO09BQzlCO0tBQ0Y7R0FDRjtDQUNGOztBQUVEO0VBQ0U7SUFDRSx3QkFBd0I7SUFDeEIsNEJBQTRCO0lBQzVCO01BQ0UsdUdBQXVHO0tBQ3hHO0dBQ0Y7Q0FDRjs7QUFFRDtFQUNFO0lBQ0Usd0JBQXdCO0lBQ3hCLDRCQUE0QjtJQUM1QjtNQUNFLGtDQUFrQztNQUNsQywwQkFBMEI7TUFDMUIsMENBQTBDO01BQzFDLGtDQUFrQztNQUNsQyx3Q0FBd0M7TUFDeEMsNkJBQTZCO0tBQzlCO0dBQ0Y7Q0FDRiIsImZpbGUiOiJfbWl4aW5zLnNjc3MiLCJzb3VyY2VzQ29udGVudCI6WyJAZnVuY3Rpb24gcGFzdGVsICgkY2xyKSB7XHJcbiAgJGh1ZTogaHVlKCRjbHIpO1xyXG4gICRzYXQ6IDEwMDtcclxuICAkbGlnaHQ6IDkwO1xyXG4gICRwYXN0ZWw6IGhzbCgkaHVlLCAkc2F0LCAkbGlnaHQpO1xyXG5cclxuICBAcmV0dXJuICRwYXN0ZWw7XHJcbn1cclxuXHJcbkBmdW5jdGlvbiBhZGp1c3QtYWxwaGEgKCRjbHIsICRhKSB7XHJcbiAgJGFscGhhOiAxIC0gJGE7XHJcblxyXG4gIEByZXR1cm4gYWRqdXN0LWNvbG9yKCRjbHIsICRhbHBoYTogLSRhbHBoYSk7XHJcbn1cclxuXHJcbkBtaXhpbiBmcmFtZS1taXhpbiAoJHNraWxscykge1xyXG4gIEBmb3IgJGkgZnJvbSAxIHRocm91Z2ggbGVuZ3RoKCRza2lsbHMpIHtcclxuICAgICRkYXRhOiBudGgoJHNraWxscywgJGkpO1xyXG4gICAgJG5hbWU6IG1hcC1nZXQoJGRhdGEsIG5hbWUpO1xyXG5cclxuICAgIEAtd2Via2l0LWtleWZyYW1lcyBwcm9ncmVzcy0jeyRuYW1lfSB7XHJcbiAgICAgIDAlIHtcclxuICAgICAgICB3aWR0aDogMDtcclxuICAgICAgfVxyXG5cclxuICAgICAgMTAwJSB7XHJcbiAgICAgICAgd2lkdGg6IG1hcC1nZXQoJGRhdGEsIHdpZHRoKTtcclxuICAgICAgfVxyXG4gICAgfVxyXG5cclxuICAgIEBrZXlmcmFtZXMgcHJvZ3Jlc3MtI3skbmFtZX0ge1xyXG4gICAgICAwJSB7XHJcbiAgICAgICAgd2lkdGg6IDA7XHJcbiAgICAgIH1cclxuXHJcbiAgICAgIDEwMCUge1xyXG4gICAgICAgIHdpZHRoOiBtYXAtZ2V0KCRkYXRhLCB3aWR0aCk7XHJcbiAgICAgIH1cclxuICAgIH1cclxuICB9XHJcbn1cclxuXHJcbkBtaXhpbiBza2lsbC1jb2xvci1taXhpbiAoJHNraWxscykge1xyXG4gIEBmb3IgJGkgZnJvbSAxIHRocm91Z2ggbGVuZ3RoKCRza2lsbHMpIHtcclxuICAgICRkYXRhOiBudGgoJHNraWxscywgJGkpO1xyXG4gICAgJG5hbWU6IG1hcC1nZXQoJGRhdGEsIG5hbWUpO1xyXG4gICAgJi0tI3skbmFtZX0ge1xyXG4gICAgICBiYWNrZ3JvdW5kLWNvbG9yOiBsaWdodGVuKGFkanVzdC1jb2xvcihtYXAtZ2V0KCRkYXRhLCBjb2xvciksICRzYXR1cmF0aW9uOiAyMCUsICRsaWdodG5lc3M6IDEwJSksIDEwJSk7XHJcbiAgICB9XHJcbiAgfVxyXG59XHJcblxyXG5AbWl4aW4gYW5pbWF0aW9uLW1peGluICgkc2tpbGxzLCAkdGltZSkge1xyXG4gIEBmb3IgJGkgZnJvbSAxIHRocm91Z2ggbGVuZ3RoKCRza2lsbHMpIHtcclxuICAgICRkYXRhOiBudGgoJHNraWxscywgJGkpO1xyXG4gICAgJG5hbWU6IG1hcC1nZXQoJGRhdGEsIG5hbWUpO1xyXG4gICAgJi0tI3skbmFtZX0ge1xyXG4gICAgICAtd2Via2l0LWFuaW1hdGlvbi1kdXJhdGlvbjogJHRpbWU7XHJcbiAgICAgIGFuaW1hdGlvbi1kdXJhdGlvbjogJHRpbWU7XHJcbiAgICAgIC13ZWJraXQtYW5pbWF0aW9uLW5hbWU6IHByb2dyZXNzLSN7JG5hbWV9O1xyXG4gICAgICBhbmltYXRpb24tbmFtZTogcHJvZ3Jlc3MtI3skbmFtZX07XHJcbiAgICAgIGJhY2tncm91bmQtY29sb3I6IG1hcC1nZXQoJGRhdGEsIGNvbG9yKTtcclxuICAgICAgd2lkdGg6IG1hcC1nZXQoJGRhdGEsIHdpZHRoKTtcclxuICAgIH1cclxuICB9XHJcbn1cclxuIl19 */