%carousel__btn {
  background-color: adjust-alpha($secondary-color--dark, .2);
  border-radius: $border-radius;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  padding: 10px;
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIl9wbGFjZWhvbGRlcnMuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNFLDJEQUEyRDtFQUMzRCw4QkFBOEI7RUFDOUIsYUFBYTtFQUNiLHFCQUFxQjtFQUNyQixxQkFBcUI7RUFDckIsY0FBYztFQUNkLGtCQUFrQjtFQUNsQixjQUFjO0VBQ2QsOEJBQThCO0VBQzlCLHlCQUF5QjtFQUN6QixzQkFBc0I7RUFDdEIsMEJBQTBCO0VBQzFCLHVCQUF1QjtFQUN2QixzQkFBc0I7RUFDdEIsa0JBQWtCO0NBQ25CIiwiZmlsZSI6Il9wbGFjZWhvbGRlcnMuc2NzcyIsInNvdXJjZXNDb250ZW50IjpbIiVjYXJvdXNlbF9fYnRuIHtcclxuICBiYWNrZ3JvdW5kLWNvbG9yOiBhZGp1c3QtYWxwaGEoJHNlY29uZGFyeS1jb2xvci0tZGFyaywgLjIpO1xyXG4gIGJvcmRlci1yYWRpdXM6ICRib3JkZXItcmFkaXVzO1xyXG4gIGNvbG9yOiB3aGl0ZTtcclxuICBkaXNwbGF5OiAtd2Via2l0LWJveDtcclxuICBkaXNwbGF5OiAtbXMtZmxleGJveDtcclxuICBkaXNwbGF5OiBmbGV4O1xyXG4gIGZvbnQtd2VpZ2h0OiBib2xkO1xyXG4gIHBhZGRpbmc6IDEwcHg7XHJcbiAgLXdlYmtpdC10cmFuc2l0aW9uOiAwLjZzIGVhc2U7XHJcbiAgLW8tdHJhbnNpdGlvbjogMC42cyBlYXNlO1xyXG4gIHRyYW5zaXRpb246IDAuNnMgZWFzZTtcclxuICAtd2Via2l0LXVzZXItc2VsZWN0OiBub25lO1xyXG4gIC1tb3otdXNlci1zZWxlY3Q6IG5vbmU7XHJcbiAgLW1zLXVzZXItc2VsZWN0OiBub25lO1xyXG4gIHVzZXItc2VsZWN0OiBub25lO1xyXG59XHJcbiJdfQ== */