
$header-height: 100vh;
$navbar-height: 10px;
$footer-height: 300px;
$navbar-height: 60px;
$border-radius: 5px;

$transition: .3s;

$skills-map1: (
  (name:html,color:  adjust-color($bluescale-color--base, $hue: hue($bluescale-color--base) + 0deg), width: 90%),
  (name:css,color:   adjust-color($bluescale-color--base, $hue: hue($bluescale-color--base) + 10deg), width: 80%),
  (name:js, color:   adjust-color($bluescale-color--base, $hue: hue($bluescale-color--base) + 20deg), width: 75%),
  (name:react,color: adjust-color($bluescale-color--base, $hue: hue($bluescale-color--base) + 30deg), width: 70%),
  (name:d3,color:    adjust-color($bluescale-color--base, $hue: hue($bluescale-color--base) + 40deg), width: 60%),
  (name:php,color:   adjust-color($bluescale-color--base, $hue: hue($bluescale-color--base) + 50deg), width: 50%)
);
