$white: #fff;
$black: #000;

$primary-color--base: hsl(47, 80%, 60%);
$secondary-color--base: hsl(0, 80%, 20%);

$greenscale-color--base: hsl(122, 60%, 49);
$bluescale-color--base: hsl(195, 80%, 50%);
$redscale-color--base: hsl(0, 100%, 50%);
$pinkscale-color--base: hsl(350, 80%, 88%);

$header-height: 100vh;
$navbar-height: 10px;
$footer-height: 300px;
$navbar-height: 60px;
$border-radius: 5px;

$transition: .3s;
