@import './utils/variables';
@import './base/tag';
@import './base/myFont';
@import './vendor/fontawesome/scss/fontawesome';
@import './vendor/fontawesome/scss/solid';
@import './vendor/fontawesome/scss/brands';
@import './layout/Header';
@import './layout/Navbar';
@import './layout/Footer';

.app {
  display: block;
  min-height: 100vh;
  overflow: auto;
  padding-bottom: $footer-height + 50px;
  position: relative;
}

@media screen and (max-width: 700px) {
  .app {
    padding-bottom: $footer-height + 250px;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding-bottom: $footer-height + 450px;
  }
}
