.img {
  padding: 0;
  transition: $transition;

  &:hover {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .4), 0 6px 20px 0 rgba(0, 0, 0, .4);
  }

  &--carousel {
    height: 300px;
    width: 100%;
  }

  &--project {
    height: 70%;
    width: 100%;
  }
}

.overlay {
  align-items: center;
  align-self: center;
  background-color: hsla(195, 100%, 36%, .9);
  bottom: 0;
  color: #fff;
  display: none;
  height: 0;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  transition: .5s ease;
  width: 100%;

  &__text {
    color: white;
    position: absolute;
    text-align: center;

    p {
      color: $greenscale-color--ligth;
      font-weight: bold;
      transform: translateY(-20px);
    }
  }
}
