.carousel {
  align-items: center;
  border: 6px solid red;
  display: grid;
  justify-items: center;

  &__img-container {
    margin: auto;
    padding: 10px;
    position: relative;
    z-index: 0;
  }

  &__navigation-container {
    display: flex;
    height: auto;
    padding: 0;
    margin: 0;
    align-content: center;  
    justify-content: space-around;
    //position: absolute;
    //top: 30%;
    width: 100%;
    border: 1px solid blue;
    //margin-left: auto;
    //margin-right: auto;
  }

  &__btn{
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    display: flex;
    padding: 10px;
    transition: 0.6s ease;
    user-select: none;
    border-radius: $border-radius;

  }

  &__caption-number{
    @extend .carousel__btn;

    border-radius: $border-radius;
    padding: 5px;
    position: relative;
    top: 50px;
    background-color: rgba(0, 0, 0, .4);
  }
}

.img-carousel {
  //display: flex;
  //margin-left: 25%;
  //margin-right: auto;
  //display:grid;
  //justify-content: center;
  //align-content: center;  
  padding: 0;
  width: 100%;
  height: 200px ;
  transition: 0.3s;
  
  &:hover {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .4), 0 6px 20px 0 rgba(0, 0, 0, .4);
  }
}

.navbutt {
  //margin:20px;
  @extend %fa-icon;
  @extend .fas;
  @extend .carousel__btn;
  
  cursor: pointer;
  border-radius: $border-radius 0 0 $border-radius;
  //position: relative;
  //top: 50%;
  //font-size: 18px;

  &--backward {
    left: 31px;

    &::before {
      content: fa-content($fa-var-chevron-left);
    }
  }

  &--play {
    border-radius: $border-radius;
  }

  &--forward {
    border-radius: 0 $border-radius $border-radius 0;
    right: 0;

    &::before {
      content: fa-content($fa-var-chevron-right);
    }
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.in-action {
  @extend %fa-icon;
  @extend .fas;

  &::before {
    content: fa-content($fa-var-pause);
  }
}

.on-breack {
  @extend %fa-icon;
  @extend .fas;

  &::after {
    content: fa-content($fa-var-play);
  }
}

.dot {
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 15px;
  justify-items: center;
  margin: 0 5px;
  transition: background-color 0.6s ease;
  width: 15px;
}

.active,
.dot:hover {
  background-color: #717171;
}

.project-tile{
  //background-color: rgba(0, 225, 255, 0.2);
  //margin:20px;
  padding:20px;
  color:white;
  display:grid;
  justify-content: center;
  justify-items: center;
  align-content: center;  
  width: 50%;
  border-radius: $border-radius;
}

.project-image{
  display: block;   
 width: 100%;//
  height: auto;  
}