.carousel-container {
  border: 6px solid red;
  display: grid;
  grid-gap: 10px;
  grid-template-areas: 'carousel-title carousel-title' 'carousel-text carousel-images';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px 1fr;
  justify-content: center;
  padding: 10px;
  //width: 100%;
}

.carousel {
  align-items: center;
  border: 6px solid red;
  display: grid;
  grid-area: carousel-images;
  justify-items: center;

  &__img-container {
    align-content: center;
    border-radius: $border-radius;
    display: grid;
    justify-items: center;
    width: 100%;
  }

  &__navigation-container {
    align-content: center;
    border: 1px solid blue;
    display: flex;
    height: auto;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  &__caption-number {
    @extend %carousel__btn;

    background-color: rgba(0, 0, 0, .4);
    border-radius: $border-radius;
    padding: 5px;
    position: relative;
    top: 50px;
  }
}

.navbutt {
  @extend %fa-icon;
  @extend .fas;
  @extend %carousel__btn;

  border-radius: $border-radius 0 0 $border-radius;
  cursor: pointer;

  &--backward {
    left: 31px;

    &::before {
      content: fa-content($fa-var-chevron-left);
    }
  }

  &--play {
    border-radius: $border-radius;
  }

  &--forward {
    border-radius: 0 $border-radius $border-radius 0;
    right: 0;

    &::before {
      content: fa-content($fa-var-chevron-right);
    }
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.in-action {
  @extend %fa-icon;
  @extend .fas;

  &::before {
    content: fa-content($fa-var-pause);
  }
}

.on-breack {
  @extend %fa-icon;
  @extend .fas;

  &::after {
    content: fa-content($fa-var-play);
  }
}

.dot {
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 15px;
  justify-items: center;
  margin: 0 5px;
  transition: background-color 0.6s ease;
  width: 15px;
}

.active,
.dot:hover {
  background-color: #717171;
}

@media screen and (max-width: 500px) {
  .carousel-container {
    grid-template-areas: 'carousel-title' 'carousel-text' 'carousel-images';
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 1fr;
    padding: 0;
  }
}
