.contact {
  background-color: $redscale-color--dark;
  //border: 6px solid $redscale-color--ligth;
  display: grid;
  grid-gap: 0;
  grid-template-areas: 'contact-header contact-header' 'contact-info contact-form';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr;
  margin: 0;

  &__header {
    grid-area: contact-header;
    height: 100%;
    margin: 0;
    padding-top: 25px;
  }

  &__info {
    background-color: rgba($color: #000, $alpha: .1);
    border-radius: $border-radius;
    color: $white;
    display: grid;
    grid-area: contact-info;
    margin: 0;
    margin: 15px;
    padding: 10px;
  }

  & .icon-container {
    color: $redscale-color--dark;
    //text-shadow: none;
    //background-color: $redscale-color--dark;
  }

  &__container-form {
    background-color: hsla(350, 100%, 88%, .8);
    border-radius: $border-radius;
    display: grid;
    grid-area: contact-form;
    margin: 15px;
    padding: 10px;
    //border: 16px solid pink;
  }
}

.info__mail {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.contact-form {
  display: grid;
}

@media screen and (max-width: 500px) {
  .contact {
    grid-gap: 5px;
    grid-template-areas: 'contact-header' 'contact-info' 'contact-form';
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 1fr;
  }

  .info__mail {
    display: grid;
    grid-gap: 5px;
  }
}
