.header {
  align-items: center;
  background-color: $header-bg-color;
  color: $white;
  display: flex;
  flex-direction: column;
  height: $header-height;
  justify-content: center;
}

.header__link {
  & a {
    padding: 10px;
  }
}
