.projects {
  border: 6px solid red;
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  text-align: center;

  &__filter {
    display: flex;
    grid-gap: 10px;
    justify-content: center;
    text-align: center;
  }

  &__gallery {
    border: 3px solid #ccc;
    display: grid;
    grid-gap: 2%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
    justify-content: center;
    justify-items: center;
    margin: 0;
    padding: 10px;
  }
}

.project-title {
  //border: 3px solid #ccc;
  align-content: center;
  background-color: $header-bg-color;
  color: white;
  display: block;
  justify-content: center;
  margin: 0;
  padding: 5px;
  transition: $transition;
  width: 100%;

  &:hover {
    background-color: $redscale-color--ligth;
  }
}

@media screen and (max-width: 400px) {
  .projects {
    &__gallery {
      grid-template-columns: 1fr;
    }
  }

  .project-tile {
    width: 100%;
  }
}
