.skillbar {
  background-color: #ddd;
  border-radius: $border-radius;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .2) inset;
  position: relative;
  top: 0;
  width: 80%;

  &__title {
    background-color: $primary-color--ligth;
    border-radius: $border-radius 0  0 $border-radius;
    color: #fff;
    height: 100%;
    left: -105px;
    position: absolute;
    top: 0;
    width: 110px;

    & span {
      align-items: center;
      align-self: center;
      display: flex;
      height: 100%;
      justify-content: center;
      //background:rgba(0, 0, 0, 0.1);
      padding: 0 20px;
    }
  }

  &__percent {
    background-color: $primary-color--dark;
    border-radius: $border-radius;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
    color: white;
    padding: 10px 0;
    text-align: right;
    align-items: center;
    height: 100%;

    &.html {
      animation-duration: 3s;
      //background-color: #4caf50;
      animation-name: progress-html;
      width: 90%;
    }

    &.css {
      animation-duration: 3s;
      //background-color: #2196f3;
      animation-name: progress-css;
      width: 80%;
    }

    &.js {
      animation-duration: 3s;
      //background-color: #f44336;
      animation-name: progress-js;
      width: 75%;
    }

    &.php {
      animation-duration: 3s;
      //background-color: #808080;
      animation-name: progress-php;
      width: 50%;
    }

    &.react {
      animation-duration: 3s;
      //background-color: #f44336;
      animation-name: progress-react;
      width: 70%;
    }

    &.d3 {
      animation-duration: 3s;
      //background-color: #808080;
      animation-name: progress-d3;
      width: 60%;
    }
  }
}

@keyframes progress-html {
  0% {
    width: 0;
  }

  100% {
    width: 90%;
  }
}

@keyframes progress-css {
  0% {
    width: 0;
  }

  100% {
    width: 80%;
  }
}

@keyframes progress-php {
  0% {
    width: 0;
  }

  100% {
    width: 50%;
  }
}

@keyframes progress-react {
  0% {
    width: 0;
  }

  100% {
    width: 70%;
  }
}

@keyframes progress-d3 {
  0% {
    width: 0;
  }

  100% {
    width: 60%;
  }
}

@keyframes progress-js {
  0% {
    width: 0;
  }

  100% {
    width: 75%;
  }
}

@media screen and (max-width: 400px) {
  .skillbar {
    &__title {
      left: -45px;
      width: 50px;

      & span {
        font-size: 10px;
      }
    }
  }
}
