.btn {
  background-color: $greenscale-color--base;
  border-radius: $border-radius;
  -webkit-box-shadow: 1px 1px 2px 0 adjust-alpha($secondary-color--dark, .4);
          box-shadow: 1px 1px 2px 0 adjust-alpha($secondary-color--dark, .4);
  cursor: pointer;
  padding: 10px;

  &:hover {
    background-color: $greenscale-color--dark;
  }

  &--active {
    background-color: $greenscale-color--dark;
  }

  &--form {
    background-color: $pinkscale-color--dark;
    border: none;
    color: $primary-color--pastel;
    justify-self: right;

    &:hover {
      background-color: darken($pinkscale-color--dark, 30%);
    }
  }
}

.navbutt {
  @extend %fa-icon;
  @extend .fas;
  @extend %carousel__btn;

  border-radius: $border-radius 0 0 $border-radius;
  cursor: pointer;

  &--backward {
    left: 31px;

    &::before {
      content: fa-content($fa-var-chevron-left);
    }
  }

  &--play {
    border-radius: $border-radius;
  }

  &--forward {
    border-radius: 0 $border-radius $border-radius 0;
    right: 0;

    &::before {
      content: fa-content($fa-var-chevron-right);
    }
  }

  &--in-action {
    @extend %fa-icon;
    @extend .fas;

    &::before {
      content: fa-content($fa-var-pause);
    }
  }

  &--on-breack {
    @extend %fa-icon;
    @extend .fas;

    &::after {
      content: fa-content($fa-var-play);
    }
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.dot {
  background-color: $primary-color--light;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 2px 0 adjust-alpha($secondary-color--dark, .4);
          box-shadow: 1px 1px 2px 0 adjust-alpha($secondary-color--dark, .4);
  cursor: pointer;
  display: inline-block;
  height: 15px;
  justify-items: center;
  margin: 0 5px;
  -webkit-transition: background-color 0.6s ease;
  -o-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
  width: 15px;

  &--active,
  &:hover {
    background-color: darken($secondary-color--pastel, 10%);
  }
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIl9idXR0b25zLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7RUFDRSwwQ0FBMEM7RUFDMUMsOEJBQThCO0VBQzlCLDJFQUEyRTtVQUNuRSxtRUFBbUU7RUFDM0UsZ0JBQWdCO0VBQ2hCLGNBQWM7O0VBRWQ7SUFDRSwwQ0FBMEM7R0FDM0M7O0VBRUQ7SUFDRSwwQ0FBMEM7R0FDM0M7O0VBRUQ7SUFDRSx5Q0FBeUM7SUFDekMsYUFBYTtJQUNiLDhCQUE4QjtJQUM5QixvQkFBb0I7O0lBRXBCO01BQ0Usc0RBQXNEO0tBQ3ZEO0dBQ0Y7Q0FDRjs7QUFFRDtFQUNFLGlCQUFpQjtFQUNqQixhQUFhO0VBQ2IsdUJBQXVCOztFQUV2QixpREFBaUQ7RUFDakQsZ0JBQWdCOztFQUVoQjtJQUNFLFdBQVc7O0lBRVg7TUFDRSwwQ0FBMEM7S0FDM0M7R0FDRjs7RUFFRDtJQUNFLDhCQUE4QjtHQUMvQjs7RUFFRDtJQUNFLGlEQUFpRDtJQUNqRCxTQUFTOztJQUVUO01BQ0UsMkNBQTJDO0tBQzVDO0dBQ0Y7O0VBRUQ7SUFDRSxpQkFBaUI7SUFDakIsYUFBYTs7SUFFYjtNQUNFLG1DQUFtQztLQUNwQztHQUNGOztFQUVEO0lBQ0UsaUJBQWlCO0lBQ2pCLGFBQWE7O0lBRWI7TUFDRSxrQ0FBa0M7S0FDbkM7R0FDRjs7RUFFRDtJQUNFLHFDQUFxQztHQUN0QztDQUNGOztBQUVEO0VBQ0Usd0NBQXdDO0VBQ3hDLG1CQUFtQjtFQUNuQiwyRUFBMkU7VUFDbkUsbUVBQW1FO0VBQzNFLGdCQUFnQjtFQUNoQixzQkFBc0I7RUFDdEIsYUFBYTtFQUNiLHNCQUFzQjtFQUN0QixjQUFjO0VBQ2QsK0NBQStDO0VBQy9DLDBDQUEwQztFQUMxQyx1Q0FBdUM7RUFDdkMsWUFBWTs7RUFFWjs7SUFFRSx3REFBd0Q7R0FDekQ7Q0FDRiIsImZpbGUiOiJfYnV0dG9ucy5zY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLmJ0biB7XHJcbiAgYmFja2dyb3VuZC1jb2xvcjogJGdyZWVuc2NhbGUtY29sb3ItLWJhc2U7XHJcbiAgYm9yZGVyLXJhZGl1czogJGJvcmRlci1yYWRpdXM7XHJcbiAgLXdlYmtpdC1ib3gtc2hhZG93OiAxcHggMXB4IDJweCAwIGFkanVzdC1hbHBoYSgkc2Vjb25kYXJ5LWNvbG9yLS1kYXJrLCAuNCk7XHJcbiAgICAgICAgICBib3gtc2hhZG93OiAxcHggMXB4IDJweCAwIGFkanVzdC1hbHBoYSgkc2Vjb25kYXJ5LWNvbG9yLS1kYXJrLCAuNCk7XHJcbiAgY3Vyc29yOiBwb2ludGVyO1xyXG4gIHBhZGRpbmc6IDEwcHg7XHJcblxyXG4gICY6aG92ZXIge1xyXG4gICAgYmFja2dyb3VuZC1jb2xvcjogJGdyZWVuc2NhbGUtY29sb3ItLWRhcms7XHJcbiAgfVxyXG5cclxuICAmLS1hY3RpdmUge1xyXG4gICAgYmFja2dyb3VuZC1jb2xvcjogJGdyZWVuc2NhbGUtY29sb3ItLWRhcms7XHJcbiAgfVxyXG5cclxuICAmLS1mb3JtIHtcclxuICAgIGJhY2tncm91bmQtY29sb3I6ICRwaW5rc2NhbGUtY29sb3ItLWRhcms7XHJcbiAgICBib3JkZXI6IG5vbmU7XHJcbiAgICBjb2xvcjogJHByaW1hcnktY29sb3ItLXBhc3RlbDtcclxuICAgIGp1c3RpZnktc2VsZjogcmlnaHQ7XHJcblxyXG4gICAgJjpob3ZlciB7XHJcbiAgICAgIGJhY2tncm91bmQtY29sb3I6IGRhcmtlbigkcGlua3NjYWxlLWNvbG9yLS1kYXJrLCAzMCUpO1xyXG4gICAgfVxyXG4gIH1cclxufVxyXG5cclxuLm5hdmJ1dHQge1xyXG4gIEBleHRlbmQgJWZhLWljb247XHJcbiAgQGV4dGVuZCAuZmFzO1xyXG4gIEBleHRlbmQgJWNhcm91c2VsX19idG47XHJcblxyXG4gIGJvcmRlci1yYWRpdXM6ICRib3JkZXItcmFkaXVzIDAgMCAkYm9yZGVyLXJhZGl1cztcclxuICBjdXJzb3I6IHBvaW50ZXI7XHJcblxyXG4gICYtLWJhY2t3YXJkIHtcclxuICAgIGxlZnQ6IDMxcHg7XHJcblxyXG4gICAgJjo6YmVmb3JlIHtcclxuICAgICAgY29udGVudDogZmEtY29udGVudCgkZmEtdmFyLWNoZXZyb24tbGVmdCk7XHJcbiAgICB9XHJcbiAgfVxyXG5cclxuICAmLS1wbGF5IHtcclxuICAgIGJvcmRlci1yYWRpdXM6ICRib3JkZXItcmFkaXVzO1xyXG4gIH1cclxuXHJcbiAgJi0tZm9yd2FyZCB7XHJcbiAgICBib3JkZXItcmFkaXVzOiAwICRib3JkZXItcmFkaXVzICRib3JkZXItcmFkaXVzIDA7XHJcbiAgICByaWdodDogMDtcclxuXHJcbiAgICAmOjpiZWZvcmUge1xyXG4gICAgICBjb250ZW50OiBmYS1jb250ZW50KCRmYS12YXItY2hldnJvbi1yaWdodCk7XHJcbiAgICB9XHJcbiAgfVxyXG5cclxuICAmLS1pbi1hY3Rpb24ge1xyXG4gICAgQGV4dGVuZCAlZmEtaWNvbjtcclxuICAgIEBleHRlbmQgLmZhcztcclxuXHJcbiAgICAmOjpiZWZvcmUge1xyXG4gICAgICBjb250ZW50OiBmYS1jb250ZW50KCRmYS12YXItcGF1c2UpO1xyXG4gICAgfVxyXG4gIH1cclxuXHJcbiAgJi0tb24tYnJlYWNrIHtcclxuICAgIEBleHRlbmQgJWZhLWljb247XHJcbiAgICBAZXh0ZW5kIC5mYXM7XHJcblxyXG4gICAgJjo6YWZ0ZXIge1xyXG4gICAgICBjb250ZW50OiBmYS1jb250ZW50KCRmYS12YXItcGxheSk7XHJcbiAgICB9XHJcbiAgfVxyXG5cclxuICAmOmhvdmVyIHtcclxuICAgIGJhY2tncm91bmQtY29sb3I6IHJnYmEoMCwgMCwgMCwgMC42KTtcclxuICB9XHJcbn1cclxuXHJcbi5kb3Qge1xyXG4gIGJhY2tncm91bmQtY29sb3I6ICRwcmltYXJ5LWNvbG9yLS1saWdodDtcclxuICBib3JkZXItcmFkaXVzOiA1MCU7XHJcbiAgLXdlYmtpdC1ib3gtc2hhZG93OiAxcHggMXB4IDJweCAwIGFkanVzdC1hbHBoYSgkc2Vjb25kYXJ5LWNvbG9yLS1kYXJrLCAuNCk7XHJcbiAgICAgICAgICBib3gtc2hhZG93OiAxcHggMXB4IDJweCAwIGFkanVzdC1hbHBoYSgkc2Vjb25kYXJ5LWNvbG9yLS1kYXJrLCAuNCk7XHJcbiAgY3Vyc29yOiBwb2ludGVyO1xyXG4gIGRpc3BsYXk6IGlubGluZS1ibG9jaztcclxuICBoZWlnaHQ6IDE1cHg7XHJcbiAganVzdGlmeS1pdGVtczogY2VudGVyO1xyXG4gIG1hcmdpbjogMCA1cHg7XHJcbiAgLXdlYmtpdC10cmFuc2l0aW9uOiBiYWNrZ3JvdW5kLWNvbG9yIDAuNnMgZWFzZTtcclxuICAtby10cmFuc2l0aW9uOiBiYWNrZ3JvdW5kLWNvbG9yIDAuNnMgZWFzZTtcclxuICB0cmFuc2l0aW9uOiBiYWNrZ3JvdW5kLWNvbG9yIDAuNnMgZWFzZTtcclxuICB3aWR0aDogMTVweDtcclxuXHJcbiAgJi0tYWN0aXZlLFxyXG4gICY6aG92ZXIge1xyXG4gICAgYmFja2dyb3VuZC1jb2xvcjogZGFya2VuKCRzZWNvbmRhcnktY29sb3ItLXBhc3RlbCwgMTAlKTtcclxuICB9XHJcbn1cclxuIl19 */