.img {
  border-radius: $border-radius;
  padding: 0;
  -webkit-transition: $transition;
  -o-transition: $transition;
  transition: $transition;

  &:hover {
    -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .4), 0 6px 20px 0 rgba(0, 0, 0, .4);
            box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .4), 0 6px 20px 0 rgba(0, 0, 0, .4);
  }

  &--carousel {
    height: 300px;
    width: 100%;
  }

  &--project {
    height: 70%;
    width: 100%;
  }
}

.overlay {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: adjust-alpha($bluescale-color--base, .9);
  border-radius: $border-radius;
  bottom: 0;
  -webkit-box-shadow: 1px 1px 2px 0 adjust-alpha($secondary-color--dark, .4);
          box-shadow: 1px 1px 2px 0 adjust-alpha($secondary-color--dark, .4);
  color: #fff;
  display: none;
  height: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  width: 100%;

  &__text {
    color: white;
    position: absolute;
    text-align: center;

    p {
      color: $greenscale-color--dark;
      font-weight: bold;
      text-shadow: 1px 1px 2px $white;
      -webkit-transform: translateY(-20px);
          -ms-transform: translateY(-20px);
              transform: translateY(-20px);
    }
  }
}
