.about {
  background-color: complement($secondary-color--pastel);
  display: grid;
  grid-template-areas: 'about-header about-header' 'about-description about-skills';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 1fr;

  &__header {
    grid-area: about-header;
  }

  &__description {
    grid-area: about-description;
    padding: 5%;
  }

  &__skills {
    display: grid;
    grid-area: about-skills;
    grid-gap: 5vh;
    margin: 0;
    padding: 20px;
  }
}

@media screen and (max-width: 800px) {
  .about {    
  &__skills {
    grid-gap: 2vh;
  }
  }
}

@media screen and (max-width: 500px) {
  .about {
    grid-template-areas: 'about-header' 'about-description' 'about-skills';
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 1fr;
    padding: 0;

    &__description {
      padding: 5px;
    }
  }
}