.carousel {
  &__header {
    grid-area: carousel-title;
  }

  &__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    //border: 6px solid red;
    display: grid;
    grid-area: carousel-images;
    justify-items: center;
  }

  &__description {
    border-radius: $border-radius;
    //border: 6px solid red;
    grid-area: carousel-text;
  }
}

.slide-description {
  background-color: adjust-alpha(adjust-hue($primary-color--pastel, 90deg), .6);
  -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .4);
          box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .4);
  margin: 5%;

  &__header {
    font-size: 15px;
    padding-top: 2em;
    text-shadow: 0 1px 1px darken($greenscale-color--dark, 20%);
  }

  &__text {
    padding: 5% 10%;
    text-align: justify;

    @include link(black);
  }
}

.slide-item {
  text-align: center;

  &__img-container {
    -ms-flex-line-pack: center;
        align-content: center;
    border-radius: $border-radius;
    display: grid;
    justify-items: center;
    width: 100%;
  }

  &__navigation-container {
    -ms-flex-line-pack: center;
        align-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  &__caption-number {
    @extend %carousel__btn;

    background-color: adjust-alpha($secondary-color--dark, .4);
    position: relative;
    top: 50px;
  }

  &__caption-text {
    font-size: large;
  }
}