.footer {
  background-color: complement($secondary-color--base);
  bottom: 0;
  color: rgb(255, 255, 255);
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    'footer-header footer-header footer-header'
    'footer-social footer-contact footer-contact'
    'footer-legal footer-legal footer-legal';
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  height: $footer-height;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  padding: 10px;
  right: 0;

  &__header {
    font-family: 'Dancing Script', 'Comic Sans', sans-serif;
    font-size: 2.4em;
    grid-area: footer-header;
    padding: 5px;
  }

  &__profile {
    grid-area: footer-social;
    list-style-type: none;
  }

  &__legal {
    background-color: hsla(0, 0%, 0%, 0.3);
    grid-area: footer-legal;
    grid-gap: 0;
    margin: -10px;
    padding-top: 15px;
    text-align: center;
  }

  &__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-area: footer-contact;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: center;
  }

  & a:hover {
    text-decoration: underline;
  }
}

.info {
  text-align: center;
}

@media screen and (max-width: 400px) {
  .footer {
    grid-gap: 0;
    grid-template-areas:
      'footer-header'
      'footer-social'
      'footer-contact'
      'footer-legal';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    height: $footer-height + 350px;

    &__contact {
      display: grid;
      grid-gap: 50px;
    }

    &__profile {
      justify-self: center;
    }

    &__legal {
      padding-top: 30px;
    }
  }
}