@import '../utils/mixins';
@import '../utils/colors';
@import '../utils/variables';
@import '../utils/placeholders';
@import '../base/myFont';
@import '../base/tag';
@import '../composant/buttons';
@import '../composant/images';

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: $secondary-color--base;
  color: $white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: $header-height;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
          text-align: center;

  &__title {
    -webkit-transform: translate(-18vw, 6vh) rotate(-45deg);
        -ms-transform: translate(-18vw, 6vh) rotate(-45deg);
            transform: translate(-18vw, 6vh) rotate(-45deg);
  }

  &__subtitle {
    font-family: 'Dancing Script', 'Comic Sans', sans-serif;
    text-transform: capitalize;
    text-shadow: 1px 1px 2px $primary-color--pastel;
    //font-size: 130px;
    -webkit-transform: translate(-10vw, -10vh) rotate(-45deg);
        -ms-transform: translate(-10vw, -10vh) rotate(-45deg);
            transform: translate(-10vw, -10vh) rotate(-45deg);
  }

  &__link {
    & a {
      padding: 10px;

      &:hover {
        background-color: adjust-alpha($primary-color--base, .2);
        border-radius: 50%;
        -webkit-box-shadow: 1px 1px 10px 0 adjust-alpha($secondary-color--dark, .9);
                box-shadow: 1px 1px 10px 0 adjust-alpha($secondary-color--dark, .9);
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .header__subtitle {
    -webkit-transform: translate(-8vh, -3vw) rotate(-45deg);
        -ms-transform: translate(-8vh, -3vw) rotate(-45deg);
            transform: translate(-8vh, -3vw) rotate(-45deg);
  }
}

@media screen and (max-width: 400px) {
  .header__title {
    font-size: 70px;
    -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }

  .header__subtitle {
    -webkit-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
}