.intro {
  text-align: justify;

  &__header {
    grid-area: intro-header;
  }

  &__description {
    grid-area: intro-description;
    padding: 2%;
    text-align: justify;
    
    @include link(black);
  }

  &__tagline {
    font-size: 1.2em;
    padding: 7%;
    text-align: center;
  }

  &__profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.7em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: space-evenly;
    padding-top: 15px;

    a:hover {
      color: $bluescale-color--dark;
    }
  }
}