.navbar {
  //
  //grid-gap: 10px;
  //grid-template-areas: 'navbarLogo navbarNav';
  //grid-template-columns: 1fr 2fr;
  //grid-template-rows: 1fr;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  &__link {
    color: $white;
    float: right;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding: 15px;
    text-decoration: none;

    &:hover {
      background-color: adjust-alpha($primary-color--base, .1);
      border-radius: $border-radius;
      -webkit-box-shadow: 1px 1px 10px 0 adjust-alpha($secondary-color--dark, .9);
              box-shadow: 1px 1px 10px 0 adjust-alpha($secondary-color--dark, .9);
    }
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    background-color: $secondary-color--base;

    &__link {
      display: block;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 5px;
      text-align: center;
      width: 100%;
    }
  }
}