.projects {
  background-color: adjust-alpha(complement($bluescale-color--pastel), .7);
  text-align: center;

  &__filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;

    button {      
    margin: 0 10px;
    }
  }

  &__gallery {
    display: grid;
    gap: 1%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    grid-template-rows:  repeat(auto-fit, minmax(0, 300px));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    margin: 0;
    padding: 5px;
  }

  &__title {
    -ms-flex-line-pack: center;
        align-content: center;
    background-color: complement($bluescale-color--light);
    border-radius: $border-radius;
    color: white;
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 5px;
    position: relative;
    text-align: center;
    -webkit-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
    width: fit-content(300px);
    height: fit-content(300px);

    &:hover .overlay {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
    }
  }
}

@media screen and (max-width: 800px) {
  .projects {
    &__gallery {
      grid-template-rows:  repeat(auto-fit, minmax(100px, 300px));
    }
    
  }
}

@media screen and (max-width: 400px) {
  .projects {
    &__gallery {
      grid-template-columns: 1fr;
      overflow-y: auto;
      padding: 0;
    }

    &__title {
      width: 90%;
      height: 210px;
    }
  }
}