.skills {
  font: 1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  justify-items: right;
  align-content: flex-start;

  &__header {
    justify-self: center;
    padding-top: 1vh;
    padding-bottom: 7vh;
  }

  &__bar {
    position: relative;
    top: 0;
    width: 80%;
  }
}

.bar {
  background-color: $primary-color--pastel;
  border-radius: $border-radius;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, .2) inset;
          box-shadow: 5px 5px 20px rgba(0, 0, 0, .2) inset;
  height: 2em;

  &__title {
    border-radius: $border-radius 0  0 $border-radius;
    color: $secondary-color--base;
    font-weight: bold;
    height: 100%;
    left: -105px;
    position: absolute;
    top: 0;
    width: 110px;

    @include skill-color-mixin ($skills-map1);

    & span {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-item-align: center;
          align-self: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      //background:rgba(0, 0, 0, 0.1);
      padding: 0 20px;
    }
  }

  &__percent {
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: $bluescale-color--base;
    border-radius: $border-radius;
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
    color: $secondary-color--base;
    height: 100%;
    //padding: 10px 0;
    //align-self: center;
    text-align: right;

    @include animation-mixin($skills-map1, 3s);
  }
}

@include frame-mixin ($skills-map1);

@media screen and (max-width: 500px) {
  .bar {
    &__title {
      left: -55px;
      width: 60px;

      & span {
        font-size: 10px;
      }
    }
  }
}