.about {
  background-color: complement($secondary-color--pastel);
  display: grid;
  grid-template-areas: 'about-header about-header' 'about-description about-skills';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 1fr;

  &__header {
    grid-area: about-header;
  }

  &__description {
    grid-area: about-description;
    padding: 5% 10%;
  }

  &__skills {
    display: grid;
    grid-area: about-skills;
    grid-gap: 10px;
    margin: 0;
    padding: 20px;
  }
}

@media screen and (max-width: 500px) {
  .about {
    grid-template-areas: 'about-header' 'about-description' 'about-skills';
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 1fr;
    padding: 0;

    &__description {
      padding: 5px;
    }
  }
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIl9BYm91dC5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0UsdURBQXVEO0VBQ3ZELGNBQWM7RUFDZCxrRkFBa0Y7RUFDbEYsK0JBQStCO0VBQy9CLDhCQUE4Qjs7RUFFOUI7SUFDRSx3QkFBd0I7R0FDekI7O0VBRUQ7SUFDRSw2QkFBNkI7SUFDN0IsZ0JBQWdCO0dBQ2pCOztFQUVEO0lBQ0UsY0FBYztJQUNkLHdCQUF3QjtJQUN4QixlQUFlO0lBQ2YsVUFBVTtJQUNWLGNBQWM7R0FDZjtDQUNGOztBQUVEO0VBQ0U7SUFDRSx1RUFBdUU7SUFDdkUsMkJBQTJCO0lBQzNCLGtDQUFrQztJQUNsQyxXQUFXOztJQUVYO01BQ0UsYUFBYTtLQUNkO0dBQ0Y7Q0FDRiIsImZpbGUiOiJfQWJvdXQuc2NzcyIsInNvdXJjZXNDb250ZW50IjpbIi5hYm91dCB7XHJcbiAgYmFja2dyb3VuZC1jb2xvcjogY29tcGxlbWVudCgkc2Vjb25kYXJ5LWNvbG9yLS1wYXN0ZWwpO1xyXG4gIGRpc3BsYXk6IGdyaWQ7XHJcbiAgZ3JpZC10ZW1wbGF0ZS1hcmVhczogJ2Fib3V0LWhlYWRlciBhYm91dC1oZWFkZXInICdhYm91dC1kZXNjcmlwdGlvbiBhYm91dC1za2lsbHMnO1xyXG4gIGdyaWQtdGVtcGxhdGUtY29sdW1uczogMWZyIDFmcjtcclxuICBncmlkLXRlbXBsYXRlLXJvd3M6IDE1MHB4IDFmcjtcclxuXHJcbiAgJl9faGVhZGVyIHtcclxuICAgIGdyaWQtYXJlYTogYWJvdXQtaGVhZGVyO1xyXG4gIH1cclxuXHJcbiAgJl9fZGVzY3JpcHRpb24ge1xyXG4gICAgZ3JpZC1hcmVhOiBhYm91dC1kZXNjcmlwdGlvbjtcclxuICAgIHBhZGRpbmc6IDUlIDEwJTtcclxuICB9XHJcblxyXG4gICZfX3NraWxscyB7XHJcbiAgICBkaXNwbGF5OiBncmlkO1xyXG4gICAgZ3JpZC1hcmVhOiBhYm91dC1za2lsbHM7XHJcbiAgICBncmlkLWdhcDogMTBweDtcclxuICAgIG1hcmdpbjogMDtcclxuICAgIHBhZGRpbmc6IDIwcHg7XHJcbiAgfVxyXG59XHJcblxyXG5AbWVkaWEgc2NyZWVuIGFuZCAobWF4LXdpZHRoOiA1MDBweCkge1xyXG4gIC5hYm91dCB7XHJcbiAgICBncmlkLXRlbXBsYXRlLWFyZWFzOiAnYWJvdXQtaGVhZGVyJyAnYWJvdXQtZGVzY3JpcHRpb24nICdhYm91dC1za2lsbHMnO1xyXG4gICAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiAxZnI7XHJcbiAgICBncmlkLXRlbXBsYXRlLXJvd3M6IDEwMHB4IDFmciAxZnI7XHJcbiAgICBwYWRkaW5nOiAwO1xyXG5cclxuICAgICZfX2Rlc2NyaXB0aW9uIHtcclxuICAgICAgcGFkZGluZzogNXB4O1xyXG4gICAgfVxyXG4gIH1cclxufVxyXG4iXX0= */