.carousel {
  &__header {
    grid-area: carousel-title;
  }

  &__item {
    align-items: center;
    //border: 6px solid red;
    display: grid;
    grid-area: carousel-images;
    justify-items: center;
  }

  &__description {
    border-radius: $border-radius;
    //border: 6px solid red;
    grid-area: carousel-text;
  }
}

.slide-description {
  background-color: adjust-alpha(adjust-hue($primary-color--pastel, 90deg), .6);

  &__header {
    font-size: 15px;
    padding-top: 2em;
  }

  &__text {
    padding: 5% 10%;
    text-align: justify;
  }
}

.slide-item {
  text-align: center;

  &__img-container {
    align-content: center;
    border-radius: $border-radius;
    display: grid;
    justify-items: center;
    width: 100%;
  }

  &__navigation-container {
    align-content: center;
    display: flex;
    height: auto;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  &__caption-number {
    @extend %carousel__btn;

    background-color: rgba(0, 0, 0, .4);
    border-radius: $border-radius;
    padding: 5px;
    position: relative;
    top: 50px;
  }

  &__caption-text {
    font-size: large;
  }
}
