.contact {
  background-color: darken(adjust-color($secondary-color--pastel, $saturation: -50%), 30%);
  //border: 6px solid $redscale-color--ligth;
  display: grid;
  grid-gap: 0;
  grid-template-areas: 'contact-header contact-header' 'contact-info contact-form';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr;
  margin: 0;

  &__header {
    grid-area: contact-header;
    height: 100%;
    margin: 0;
    padding-top: 25px;
  }

  &__info {
    border-radius: $border-radius;
    display: grid;
    grid-area: contact-info;
    margin: 0;
    margin: 15px;
    padding: 10px;
  }

  &__form {
    border-radius: $border-radius;
    display: grid;
    grid-area: contact-form;
    margin: 15px;
    padding: 10px;
    //border: 16px solid pink;
  }
}

.info {
  background-color: adjust-alpha(darken($secondary-color--dark, 10%), .1);
  color: $white;

  &__header {
    grid-area: intro-description;
    padding: 5% 10%;
    text-align: justify;
  }

  &__icon {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }
}

.icon {
  &__header {
    color: $primary-color--pastel;
    font-weight: bold;
  }

  &__img {
    color: $primary-color--pastel;
    font-size: 2em;
  }
}

.form {
  //background-color: adjust-alpha($pinkscale-color--pastel, .3);

  &__header {
    color: $primary-color--pastel;
  }

  &__container {
    display: grid;
  }
}

@media screen and (max-width: 500px) {
  .contact {
    grid-gap: 5px;
    grid-template-areas: 'contact-header' 'contact-info' 'contact-form';
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 1fr;
  }

  .info {
    &__icon {
      display: grid;
      grid-gap: 5px;
    }
  }
}
