.contact-form {
  width: 100%;

  & input,
  & textarea {
    background-color: $primary-color--pastel;
    border: 1px solid $redscale-color--dark;
    border-radius: $border-radius;
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, .2) inset;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, .2) inset;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: $redscale-color--dark;
    display: table-cell;
    margin: 6px 0 16px 0;
    padding: 12px;
    width: 100%;
  }

  & textarea {
    height: 170px;
    resize: none;
  }

  &__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 10px;
  }

  .invalid {
    background-color: rgb(255, 221, 221);
  }
}

@media screen and (max-width: 400px) {
  .contact-form {
    &__name {
      display: block;
    }
  }
}
