.intro {
  text-align: justify;

  &__header {
    grid-area: intro-header;
  }

  &__description {
    grid-area: intro-description;
    padding: 5% 10%;
    text-align: justify;

    a {
      color: black;

      &:hover {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }

  &__tagline {
    font-size: 1.2em;
    padding: 0;
    text-align: center;
  }

  &__profile {
    display: flex;
    font-size: 1.7em;
    grid-gap: 15px;
    justify-content: center;
    padding-top: 15px;

    a:hover {
      color: $bluescale-color--dark;
    }
  }
}
