.intro {
  text-align: justify;

  &__header {
    grid-area: intro-header;
  }

  &__description {
    grid-area: intro-description;
    padding: 2%;
    text-align: justify;
    
    @include link(black);
  }

  &__tagline {
    font-size: 1.2em;
    padding: 7%;
    text-align: center;
  }

  &__profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.7em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: space-evenly;
    padding-top: 15px;

    a:hover {
      color: $bluescale-color--dark;
    }
  }
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIl9JbnRyb2R1Y3Rpb24uc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNFLG9CQUFvQjs7RUFFcEI7SUFDRSx3QkFBd0I7R0FDekI7O0VBRUQ7SUFDRSw2QkFBNkI7SUFDN0IsZ0JBQWdCO0lBQ2hCLG9CQUFvQjs7SUFFcEI7TUFDRSxhQUFhOztNQUViO1FBQ0Usa0JBQWtCO1FBQ2xCLDJCQUEyQjtPQUM1QjtLQUNGO0dBQ0Y7O0VBRUQ7SUFDRSxpQkFBaUI7SUFDakIsV0FBVztJQUNYLG1CQUFtQjtHQUNwQjs7RUFFRDtJQUNFLHFCQUFxQjtJQUNyQixxQkFBcUI7SUFDckIsY0FBYztJQUNkLGlCQUFpQjtJQUNqQix5QkFBZTtRQUNmLHNCQUFBO1lBQ0EsOEJBQUk7SUFDSixrQkFBSTs7SUFFSjtNQUNFLDhCQUE4QjtLQUNoQztHQUNEO0NBQ0YiLCJmaWxlIjoiX0ludHJvZHVjdGlvbi5zY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLmludHJvIHtcclxuICB0ZXh0LWFsaWduOiBqdXN0aWZ5O1xyXG5cclxuICAmX19oZWFkZXIge1xyXG4gICAgZ3JpZC1hcmVhOiBpbnRyby1oZWFkZXI7XHJcbiAgfVxyXG5cclxuICAmX19kZXNjcmlwdGlvbiB7XHJcbiAgICBncmlkLWFyZWE6IGludHJvLWRlc2NyaXB0aW9uO1xyXG4gICAgcGFkZGluZzogNSUgMTAlO1xyXG4gICAgdGV4dC1hbGlnbjoganVzdGlmeTtcclxuXHJcbiAgICBhIHtcclxuICAgICAgY29sb3I6IGJsYWNrO1xyXG5cclxuICAgICAgJjpob3ZlciB7XHJcbiAgICAgICAgZm9udC13ZWlnaHQ6IGJvbGQ7XHJcbiAgICAgICAgdGV4dC1kZWNvcmF0aW9uOiB1bmRlcmxpbmU7XHJcbiAgICAgIH1cclxuICAgIH1cclxuICB9XHJcblxyXG4gICZfX3RhZ2xpbmUge1xyXG4gICAgZm9udC1zaXplOiAxLjJlbTtcclxuICAgIHBhZGRpbmc6IDA7XHJcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XHJcbiAgfVxyXG5cclxuICAmX19wcm9maWxlIHtcclxuICAgIGRpc3BsYXk6IC13ZWJraXQtYm94O1xyXG4gICAgZGlzcGxheTogLW1zLWZsZXhib3g7XHJcbiAgICBkaXNwbGF5OiBmbGV4O1xyXG4gICAgZm9udC1zaXplOiAxLjdlbTtcclxuICAgIGdyaWQtZ2FwOiAxNXB4O1xyXG4gICAgLXdlYmtpdC1ib3gtcGFjazogY2VudGVyO1xyXG4gICAgICAgIC1tcy1mbGV4LXBhY2s6IGNlbnRlcjtcclxuICAgICAgICAgICAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XHJcbiAgICBwYWRkaW5nLXRvcDogMTVweDtcclxuXHJcbiAgICBhOmhvdmVyIHtcclxuICAgICAgY29sb3I6ICRibHVlc2NhbGUtY29sb3ItLWRhcms7XHJcbiAgICB9XHJcbiAgfVxyXG59XHJcbiJdfQ== */