.intro {
  &__header {
    grid-area: intro-header;
  }

  &__description {
    grid-area: intro-description;
    padding: 5% 10%;
    text-align: justify;

    &__tagline {
      font-size: 1.2em;
      padding: 0;
      //font-family:  'Comic Sans', 'Comic Sans MS', cursive;
      text-align: center;
    }
  }
}
