.works {
  //border: 6px solid red;
  display: grid;
  grid-gap: 10px;
  padding: 10px;

  &__carousel {
    //border: 6px solid red;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 'carousel-title carousel-title' 'carousel-text carousel-images';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px;
    width: 100%;
  }

  &__projects {
    border-radius: $border-radius;
    display: grid;
    grid-gap: 30px;
    padding: 10px;
  }
}

@media screen and (max-width: 500px) {
  .works {
    &__carousel {
      grid-template-areas: 'carousel-title' 'carousel-text' 'carousel-images';
      grid-template-columns: 1fr;
      grid-template-rows: 60px 1fr 1fr;
      padding: 0;
    }
  }
}
