* {
  box-sizing: border-box;
}

html,
body {
  background: $primary-color--pastel;
  height: 100%;
  margin: 0;
  position: relative;
}

h1 {
  color: $white;
  font-family: 'Dancing Script', 'Comic Sans', sans-serif;
  font-size: 130px;
  font-weight: normal;
  margin: 0 0 50px;
  text-align: center;
  text-shadow: 1px 1px 2px #082b34;
}

h2 {
  color: $white;
  font-family: 'Orbitron', sans-serif;
  font-size: 70px;
  font-weight: normal;
  margin: 0 0 40px;
  text-align: center;
  text-shadow: 1px 1px 2px $secondary-color--base;
  text-transform: uppercase;
}

h3 {
  font-family: "Comfortaa", cursive;
  font-size: 24px;
  font-weight: normal;
  margin: 10px 20px;
  margin-bottom: 0;
  text-align: center;
  text-shadow: 0 1px 1px $secondary-color--base;
}

a {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 400px) {
  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.4em;
  }
}
