$page-bg-color: #d3d3d3;
$footer-bg-color: #272e71;
$white: #fff;
$black: #000;
$primary-color--base: hsl(47, 70%, 45%);
$primary-color--ligth: hsla(47, 80%, 60%, 1);
$primary-color--dark: hsl(47, 100%, 30%);
$primary-color--darker: hsla(47, 50%, 20%, 1);
$primary-color--pastel: hsla(47, 20%, 50%, 1);
$greenscale-color--base:  hsla(122, 50%, 49%, .8);
$greenscale-color--ligth: hsl(122, 60%, 49);
$greenscale-color--dark: hsl(122, 90%, 30);
$bluescale-color--base: hsla(195, 100%, 50%, .8);
$bluescale-color--ligth: hsl(195, 100%, 70%);
$bluescale-color--dark: hsl(195.06, 100%, 30%);
$redscale-color--base: hsla(0, 100%, 50%, .8);
$redscale-color--ligth: hsl(0, 100%, 70%);
$redscale-color--dark: hsl(0, 100%, 30%);

$header-height: 100vh;
$navbar-height: 10px;
$footer-height: 350px;
$navbar-height: 60px;
$border-radius: 5px;
