
.serif {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.comic {
  font-family: Comic Sans, Comic Sans MS, cursive;
}

.fantasy {
  font-family: Oldtown, fantasy;
}

.cursive {
  font-family: Coronetscript, cursive;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}
