@import './utils/mixins';
@import './utils/colors';
@import './utils/variables';
@import './utils/placeholders';
@import './base/myFont';
@import './base/tag';
@import './vendor/fontawesome/scss/fontawesome';
@import './vendor/fontawesome/scss/solid';
@import './vendor/fontawesome/scss/brands';
@import './composant/buttons';
@import './composant/images';
@import './layout/Header';
@import './layout/Navbar';
@import './layout/Skills';
@import './layout/About';
@import './layout/Introduction';
@import './layout/Carousel';
@import './layout/Works';
@import './layout/Projects';
@import './layout/Form';
@import './layout/Contact';
@import './layout/Container';
@import './layout/Footer';

.app {
  display: block;
  min-height: 100vh;
  overflow: auto;
  padding-bottom: $footer-height;
  position: relative;
}

@media screen and (max-width: 700px) {
  .app {
    padding-bottom: $footer-height;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding-bottom: $footer-height + 350px;
  }
}
